/* variance */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}   
body {
    background: #080808;
    color: white;
}
#header {
    width: 100%;
    height: 100v;
    background-size: cover;
    background-position: center;
}
.container {
    padding: 10px 10%;
}
/* Nav */
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.header-text {
    margin-top: 10%;
    font-size: 30px;
    position: relative;
}
.header-text h1 {
    font-size: 40px;
    margin-top: 10px;
    padding-left: 380px;
}
.header-text p {
    margin-top: 6%;
    padding-left: 300px;
}

/* About Section */
#about {
    display: flex;
    color: #fff; 
}
.sub-title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.amaka-text p{
    font-size: 20px;
}

/* Product Design Section */
#project {
    padding: 80px 0;
    color: #fff;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.designer {
    flex-basis: 45%;
    display: flex;
    margin: 20px 0 40px; 
}
.developer {
    flex-basis: 40%;
    display: flex;
    margin: 20px 0 40px; 
}
h2 {
    text-align: center;
    font-size: 26px;
}
p {
    font-size: 20px;
}
.pdp {
  margin-right: 50px;
  font-weight: 300;
  padding: 10px;
  font-size: 18px;
  position: relative;
}
.pd {
    margin-right: 50px;
    font-weight: 300;
    padding: 10px;
    font-size: 18px;
    position: relative;    
}


/* Services/ My work*/
.uiux-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.fe-gallery img {
    width: 100%;
    height: 100vh auto;
    object-fit: cover;
}
.fe-gallery h2 {
    text-align: center;
    font-size: 26px;
}
.fe-gallery p {
    font-size: 20px;
}

.prd p {
    font-size: 24px;
    font-weight: 500;
}
.prd {
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
}

/* Frontend on product page */
.front-p {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.pd {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;  
}
.frontend-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 30px;  
}
.fed-gallery img {
    width: 100%;
    height: 90vh auto;
    object-fit: cover; 
    padding: 20px;    
}

/* Form Section  */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, textarea {
    width: 70%;
    padding: 15px;
    margin: 8px;
}
form button {
    padding: 15px;
    width: 50%;
    background-color: rgb(116, 236, 116);
    text-align: center;
    font-size: 20px;
}
form label {
    font-size: 20px;
}

/* Footer Section */
footer {
    background-color: var(--primary-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-links img {
    width: 105px;
    height: 105px;
    padding: 20px;
}
footer h4 {
    font-size: 24px;
}

/* Media Queries */
@media ( max-width: 600px) {
    .logo {
        display: none;
    }
    body {
        padding: 10px;
    }
    nav ul li{
        margin: 0 10px;
    }
    header {
        padding: 10px;
    }
    .header-text h1, {
        font-size: 20px;
        margin-top: 10px;
        padding-left: 100px;
    } 
    .header-text p{
        display: none;
    }
    .fe-gallery img {
        display: grid;
        grid-template-columns: auto;
        width: 90%;
    }
    footer h4 {
      font-size: 22px;
    }
    button {
        width: 30%; 
        padding: 15px;
        margin: 4px;    
    }
    .social-links img {
        width: 22%;
        height: 18%;
        padding: 2px;
    }
}

@media (max-width: 1020px) {
    .uiux-container {
        grid-template-columns: (1fr 1fr);
    }
}
   